[build]
  base = "site"
  publish = "."
  command = "echo \"skip build\""
  functions = "../netlify/functions"

[functions]
  directory = "../netlify/functions"

[build.environment]
  NODE_VERSION = "20"
  NPM_VERSION = "10"
